.user {
  border: 1px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 0.75rem;
  background-color: white;
  color: rgb(10, 8, 10);
  
}