.new-user__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.new-user__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.new-user__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.new-user__actions {
  text-align: left;
}

.new-user button {
  font: inherit;
  cursor: pointer;
  padding: 0.25rem 1rem;
  border: 1px solid #FFFFFF;
  background-color: #003559;
  color: white;
  margin-right: 1rem;
}

.new-user button:hover,
.new-user button:active {
  background-color: #003559;
  border-color: #003559;
}

.new-user button.alternative {
  color: #061a40;
  border-color: transparent;
  background-color: transparent;
}

.new-user button.alternative:hover,
.new-user button.alternative:active {
  background-color: #ddb3f8;
}